title: Mangaldeep Singh
email: mangaldeep95.ms@gamil.com
description: A markdown blog made by Mangaldeep Singh . Hosted on mangaldeep-singh.github.io. I'll write something i like maybe my study or life.
url: "https://mangaldeep-singh.github.io/" 
baseurl: ""
twitter_username: Mangaldeep-Singh
github_username:  Mangaldeep-Singh
author: Mangaldeep Singh
language: "en-us"

timezone: Asia/Bangkok

# google_analytics: 'G-HSCBJBJKGQ'

markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge
  input: GFM
  syntax_highlighter_opts:
    css_class: 'highlight'

permalink: pretty

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-toc
  - jekyll-postcss
  - jemoji

postcss:
  cache: false

collections:
  authors:
    output: true
  projects:
    output: false
  workexp:
    output: true
    # permalink: /:collection/:path/

feed:
  path: ./feed.xml

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "workexp"
    values:
      layout: "workexp"
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
    values:
      toc: true

theme: null
# exclude:
#   - package.json
#   - postcss.config.js
#   - tailwind.config.js

# Include the directories to be processed
include:
  - _pages

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - node_modules
  - README.md
  - LICENSE.md
  - package.json
  - package-lock.json
  - postcss.config.js
  - tailwind.config.js

